<div class="content">
  <div class="content__name">Filipe</div>
  <div class="content__name">Mendes</div>
  <div class="content__about-me">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </div>


  @@include('./timeline.html')
  <div class="paralell-section">
    <div class="paralell-section__item">
      @@include('./skills.html')
    </div>
    <div class="paralell-section__item">
      @@include('./hobbies.html')
    </div>
  </div>
  @@include('./testimonials.html')
  @@include('./../social.html')
  @@include('./../footer.html')
</div>
