<div class="content">
  <div class="content__name">Filipe</div>
  <div class="content__name">Mendes</div>
  <div class="content__about-me">
    A reasonable and honest Front-End Engineer. Always looking for embrace a new good challenge, offering an interesting range of skills.
  </div>


  @@include('./timeline.html')
  <div class="paralell-section">
    <div class="paralell-section__item">
      @@include('./skills.html')
    </div>
    <div class="paralell-section__item">
      @@include('./hobbies.html')
    </div>
  </div>
  @@include('./testimonials.html')
  @@include('./../social.html')
  @@include('./../footer.html')
</div>
