<svg class="progressive-circle" width="192" height="192" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <circle
    class="progressive-circle__item"
    stroke-width="12"
    fill="transparent"
    r="96"
    cx="111"
    cy="111"
  />
  <circle
    class="progressive-circle__item"
    data-progress="20"
    data-title="Pokemon TCGAAAABBBBCCCCC"
    data-content="Card collector since 1998AAAAABBBBBCCCCC"
    data-image="./assets/hobbies/pikachu.png"
    stroke-width="12"
    fill="transparent"
    r="96";
    cx="111";
    cy="111";
  />
  <circle
    class="progressive-circle__item"
    data-progress="20"
    data-title="Pokemon TCGAAAABBBB"
    data-content="Card collector since 1998AAAAABBBBB"
    data-image="./assets/hobbies/pikachu.png"
    stroke-width="12"
    fill="transparent"
    r="96";
    cx="111";
    cy="111";
  />
  <circle
    class="progressive-circle__item"
    data-progress="40"
    data-title="Pokemon TCGAAAA"
    data-content="Card collector since 1998AAAAA"
    data-image="./assets/hobbies/pikachu.png"
    stroke-width="12"
    fill="transparent"
    r="96";
    cx="111";
    cy="111";
  />
  <circle
    class="progressive-circle__item progressive-circle__item--active"
    data-progress="20"
    data-title="Pokemon TCG"
    data-content="Card collector since 1998"
    data-image="./assets/hobbies/pikachu.png"
    stroke-width="12"
    fill="transparent"
    r="96"
    cx="111"
    cy="111"
  />
</svg>
<div class="progressive-circle__background">
  <img src="./assets/hobbies/pikachu.png">
</div>
