<div class="headline">Skills</div>
<div class="headline headline__description">What I’ve learnt so far.</div>

<div class="skills">
  <div class="skills__item">
    <img
      class="skills__item-img"
      src="./assets/skills/html5.png"
    ></img>
    <div
      class="skills__item-chart"
      data-progress="30"
    >
      @@include('./progressive-circle.html')
    </div>
    <div class="skills__item-description">
      <div class="skills__item-description-title">
        HTML5
      </div>
      <div class="skills__item-description-content">
        Noob
      </div>
    </div>
  </div>

  <div class="skills__item">
    <img
      class="skills__item-img"
      src="./assets/skills/html5.png"
    ></img>
    <div
      class="skills__item-chart"
      data-progress="80"
    >
      @@include('./progressive-circle.html')
    </div>
    <div class="skills__item-description">
      <div class="skills__item-description-title">
        HTML5
      </div>
      <div class="skills__item-description-content">
        Noob
      </div>
    </div>
  </div>

  <div class="skills__item">
    <img
      class="skills__item-img"
      src="./assets/skills/html5.png"
    ></img>
    <div
      class="skills__item-chart"
      data-progress="50"
    >
      @@include('./progressive-circle.html')
    </div>
    <div class="skills__item-description">
      <div class="skills__item-description-title">
        HTML5
      </div>
      <div class="skills__item-description-content">
        Noob
      </div>
    </div>
  </div>
</div>

