<div class="headline">Skills</div>
<div class="headline headline__description">What I’ve learnt so far.</div>

<div class="skills">
  <div class="skills__item">
    <img
      class="skills__item-img"
      src="./assets/skills/angular.png"
    ></img>
    <div
      class="skills__item-chart"
      data-r="24"
      data-progress="90"
    >
      @@include('./single-progressive-circle.html')
    </div>
    <div class="skills__item-description">
      <div class="skills__item-description-title">
        Angular 2+
      </div>
      <div class="skills__item-description-content">
        Noob
      </div>
    </div>
  </div>

  <div class="skills__item">
    <img
      class="skills__item-img"
      src="./assets/skills/html-css-js.png"
    ></img>
    <div
      class="skills__item-chart"
      data-r="24"
      data-progress="75"
    >
      @@include('./single-progressive-circle.html')
    </div>
    <div class="skills__item-description">
      <div class="skills__item-description-title">
        HTML5 + CSS3 + JS
      </div>
      <div class="skills__item-description-content">
        Noob
      </div>
    </div>
  </div>

  <div class="skills__item">
    <img
      class="skills__item-img"
      src="./assets/skills/nativescript.png"
    ></img>
    <div
      class="skills__item-chart"
      data-progress="50"
    >
      @@include('./single-progressive-circle.html')
    </div>
    <div class="skills__item-description">
      <div class="skills__item-description-title">
        Nativescript
      </div>
      <div class="skills__item-description-content">
        Noob
      </div>
    </div>
  </div>

  <div class="skills__item">
    <img
      class="skills__item-img"
      src="./assets/skills/react.png"
    ></img>
    <div
      class="skills__item-chart"
      data-r="24"
      data-progress="50"
    >
      @@include('./single-progressive-circle.html')
    </div>
    <div class="skills__item-description">
      <div class="skills__item-description-title">
        React
      </div>
      <div class="skills__item-description-content">
        Noob
      </div>
    </div>
  </div>
</div>

