<div class="headline">Testimonials</div>
<div class="headline headline__description">Here’s what people have to say about working with me.</div>

<div class="testimonials">
  <div
    class="testimonials__arrow"
    onclick="scrollTestimonial('left')"
  >←</div>

  <div class="testimonials__container">
    <div class="testimonials__item">
      <img
        class="testimonials__item-img"
        src="./assets/testimonials/tino.jpg"
      >
      <div class="testimonials__item-content">
        <div class="testimonials__item-author">Simão Nogueira</div>
        <div class="testimonials__item-author-role">Creative @ RedLight Software</div>
        <div class="testimonials__item-description">
          I’ll be detailing my working relationship with Filipe regarding the time I managed the Design Team at Shift APPens a couple of years ago.

          Working with young people is a challenge and so is organizing an event. When you put these two things together, even greater are the hardships of what you try to accomplish.<span class="dots">...</span>

          <span class="more">
            I’ll be detailing my working relationship with Filipe regarding the time I managed the Design Team at Shift APPens a couple of years ago.

            Working with young people is a challenge and so is organizing an event. When you put these two things together, even greater are the hardships of what you try to accomplish…
          </span>

          <span
            class="view-more"
            onclick="readMoreText(0)"
          >View More</span>
        </div>
      </div>
    </div>

    <div class="testimonials__item">
      <img
        class="testimonials__item-img"
        src="./assets/testimonials/tino.jpg"
      >
      <div class="testimonials__item-content">
        <div class="testimonials__item-author">Simão Nogueira</div>
        <div class="testimonials__item-author-role">Creative @ RedLight Software</div>
        <div class="testimonials__item-description">
          I’ll be detailing my working relationship with Filipe regarding the time I managed the Design Team at Shift APPens a couple of years ago.

          Working with young people is a challenge and so is organizing an event. When you put these two things together, even greater are the hardships of what you try to accomplish.<span class="dots">...</span>

          <span class="more">
            I’ll be detailing my working relationship with Filipe regarding the time I managed the Design Team at Shift APPens a couple of years ago.

            Working with young people is a challenge and so is organizing an event. When you put these two things together, even greater are the hardships of what you try to accomplish…
          </span>

          <span
            class="view-more"
            onclick="readMoreText(1)"
          >View More</span>
        </div>
      </div>
    </div>
  </div>

  <div
    class="testimonials__arrow"
    onclick="scrollTestimonial('right')"
  >→</div>
</div>