<div class="headline">Timeline</div>
<div class="headline headline__description">What I did the last few years.</div>

<div class="timeline">
  <div class="timeline__top-sign"></div>
  <div class="timeline__date">2020 (now)</div>
  <div class="timeline__description">
    <div class="timeline__description-title">
      Looking for new challenges.
    </div>
    <div
      class="timeline__get-in-touch-btn"
      onclick="scrollToSocial()"
    >
      → Get in touch
    </div>
  </div>

  <div class="timeline__separator"></div>

  <div class="timeline__date">Present
    ↑
    2018
  </div>
  <div class="timeline__description">
    <img
      class="timeline__img timeline__img--wit"
      src="./assets/timeline/wit.png"
    >
    <div>
      <div class="timeline__description-title">Gained a new outlook on life and learnt the meaning of love</div>
      <div class="timeline__description-content">Learnt how to code CSS, etc., etc.</div>
      <div class="timeline__description-links">
        <a href="">→ Project Hightlight #1</a>
        <a href="">→ Project Hightlight #2</a>
      </div>
    </div>
  </div>

  <div class="timeline__date">2017</div>
  <div class="timeline__description">
    <img
      class="timeline__img timeline__img--spms"
      src="./assets/timeline/spms.png"
    >
    <div>
      <div class="timeline__description-title">Gained a new outlook on life and learnt the meaning of love</div>
      <div class="timeline__description-content">Learnt how to code CSS, etc., etc.</div>
      <div class="timeline__description-links">
        <a href="">→ Project Hightlight #1</a>
        <a href="">→ Project Hightlight #2</a>
      </div>
    </div>
  </div>

  <div class="timeline__date">2016
    ↑
    2015
  </div>
  <div class="timeline__description">
    <img
      class="timeline__img timeline__img--stratio"
      src="./assets/timeline/stratio.png"
    >
    <div>
      <div class="timeline__description-title">Gained a new outlook on life and learnt the meaning of love</div>
      <div class="timeline__description-content">Learnt how to code CSS, etc., etc.</div>
      <div class="timeline__description-links">
        <a href="">→ Project Hightlight #1</a>
        <a href="">→ Project Hightlight #2</a>
      </div>
    </div>
  </div>

  <div class="timeline__bottom-sign"></div>
</div>