<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Filipe Mendes</title>
    <link rel="stylesheet" href="stylesheets/index.css">
    <link rel="stylesheet" href="stylesheets/about.css">

    <link rel="shortcut icon" href="assets/favicon.ico" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rxjs/6.1.0/rxjs.umd.js"></script>
    <script src="js/index.min.js"></script>

    <meta property="og:title" content="Filipe Mendes">
    <meta property="og:description" content="A reasonable and honest Front-End Engineer. Always looking for embrace a new good challenge.">
    <meta property="og:image" content="assets/preview.png">
    <meta property="og:url" content="https://filipemendes.dev">

    <meta name="twitter:title" content="Filipe Mendes ">
    <meta name="twitter:description" content=" A reasonable and honest Front-End Engineer. Always looking for embrace a new good challenge.">
    <meta name="twitter:image" content="assets/preview.png">
    <meta name="twitter:card" content="summary_large_image">
  </head>
  <body>
    @@include('./navbar.html')
    @@include('./about/content.html')
  </body>
</html>