<div class="content">
  <div class="headline">Selected Projects</div>
  <div class="headline headline__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>

  <div class="headline">Highlighted Organizations</div>
  <div class="headline headline__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>

  <div class="headline">Speak to me</div>
  <div class="headline headline__description">Here are your options:</div>
  @@include('./social.html')
  @@include('./footer.html')
</div>