<div class="navbar">
  <div class="navbar__author">
    <span>Filipe Mendes</span>
    <span>Front-End Engineer</span>
  </div>

  <div class="navbar__spacer"></div>

  <div class="navbar__navigation">
    <span
      class="navbar__btn"
      onclick="transitionToPage('index.html')"
    >
      Home
    </span>

    <span
      class="navbar__btn"
      onclick="transitionToPage('about.html')"
    >
      About
    </span>
<!--
    <span
      class="navbar__btn"
      onclick="transitionToPage('projects.html')"
    >
      Projects
    </span> -->

    <a
      class="navbar__medium-btn"
      href="https://medium.com/@filipemendes_73527"
      target="_blank"
    >
      -> Open Medium
    </a>
  </div>
</div>

<div class="navbar__filler">
  <div></div>
</div>
