<div class="navbar">
  <div class="navbar__author">
    <span>Filipe Mendes</span>
    <span>Front-End Engineer</span>
  </div>

  <div class="navbar__spacer"></div>

  <div class="navbar__navigation">
    <a
      class="navbar__btn"
      href="about.html"
    >
      About
    </a>

    <a
      class="navbar__btn"
      href="projects.html"
    >
      Projects
    </a>

    <a
      class="navbar__medium-btn"
      href="https://medium.com/@filipemendes_73527"
      target="_blank"
    >
      -> Open Medium
    </a>
  </div>
</div>

<div class="navbar__filler">
  <div></div>
</div>
