<div class="headline">Highlighted Organizations</div>
<div class="headline headline__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>

<div class="organizations__container">
  <div class="organizations__item">
    <div class="organizations__img-container">
      <img src="./assets/organizations/neiaac.jpg">
      <div class="overlay">
        <img src="./assets/organizations/neiaac-logo.png">
      </div>
    </div>
  </div>
  <div class="organizations__item">
    <div class="organizations__img-container">
      <img src="./assets/organizations/aecmc.jpg">
      <div class="overlay">
        <img src="./assets/organizations/aecmc-logo.png">
      </div>
    </div>
  </div>
  <div class="organizations__item">
    <div class="organizations__img-container">
      <img src="./assets/organizations/fut.jpg">
      <div class="overlay">
        <img src="./assets/organizations/fut-logo.png">
      </div>
    </div>
  </div>
</div>