<div class="social__headline">Speak to me</div>
<div class="social__headline">Here are your options:</div>

<div class="social__container">
  <div class="social__item">
    <div class="social__email-container">
      <img src="./assets/email.svg">
    </div>
    <div>
      <div>Shoot me an e-mail</div>
      <a href="mailto:filipemendes1994@gmail.com">-> Open your email client</a>
    </div>
  </div>

  <div class="social__item">
    <img src="./assets/instagram.svg">
    <div>
      <div>If you want to see a random dude travelling around the world.</div>
      <a
        href="https://www.instagram.com/filipemendes1994/"
        target="_blank"
      >-> Open my profile</a>
    </div>
  </div>

  <div class="social__item">
    <img src="./assets/twitter.svg">
    <div>
      <div>If you want to gather knowledge about my thoughts.</div>
      <a
        href="https://twitter.com/filipemendes191"
        target="_blank"
      >-> Open my profile</a>
    </div>
  </div>

  <div class="social__item">
    <img src="./assets/github.svg">
    <div>
      <div>If you want to see some coding proficiency.</div>
      <a
        href="https://github.com/filipemendes1994/"
        target="_blank"
      >-> Open my profile</a>
    </div>
  </div>

  <div class="social__item">
    <img src="./assets/linkedin.svg">
    <div>
      <div>If you want to get deep knowledge about my connections and past.</div>
      <a
        href="https://www.linkedin.com/in/filipemendes1994/"
        target="_blank"
      >-> Open my profile</a>
    </div>
  </div>

  <div class="social__item">
    <img src="./assets/facebook.svg">
    <div>
      <div>Where I make fascist bitches sing.</div>
      <a
        href="https://www.facebook.com/filipemende/"
        target="_blank"
      >-> Open my profile</a>
    </div>
  </div>
</div>