.content {
  height: fit-content;
  margin: 0 map-get($sizes, 'size-3');
  padding: map-get($sizes, 'size-8') calc((100% - 940px) / 2);

  background-color: map-get($colors, 'white-almost');
  border-top-left-radius: map-get($sizes, 'size-6');
  border-top-right-radius: map-get($sizes, 'size-6');

  opacity: 0;
  transition: opacity .5s;

  &__greeting {
    color: map-get($colors, 'black-normal');
    font-size: map-get($sizes, 'size-6');
    font-weight: 300;
  }

  &__name {
    text-align: left;
    font-size: 144px;
    font-weight: bold;
    line-height: 0.92;

    &:nth-child(2) {
      margin-bottom: map-get($sizes, 'size-8');
    }
  }

  &__about-me {
    margin-top: map-get($sizes, 'size-3');

    font-size: map-get($sizes, 'size-6');
    font-weight: 500;
    max-width: 600px;
  }

  &__skills {
    display: block;
    margin-top: map-get($sizes, 'size-3');
    color: map-get($colors, 'aqua-blue');
    font-size: map-get($sizes, 'size-6');
    font-weight: 300;
    text-decoration: underline;
  }
}

@media screen and (max-width: 1200px) {
  .content {
    padding: map-get($sizes, 'size-8') calc((100% - 640px) / 2);
  }
}

@media screen and (max-width: 992px) {
  .content {
    padding: map-get($sizes, 'size-8') calc((100% - 440px) / 2);

    &__name {
      font-size: map-get($sizes, 'size-15');
    }

    &__about-me {
      font-size: map-get($sizes, 'size-4');
    }
  }
}

@media screen and (max-width: 576px) {
  .content {
    margin-left: 0;
    margin-right: 0;
    padding-left: map-get($sizes, 'size-6');
    padding-right: map-get($sizes, 'size-6');

    &__name {
      font-size: map-get($sizes, 'size-11');
    }
  }
}