@import 'variables';

.headline {
  font-size: 36px;
  font-weight: 300;
  color: map-get($colors, 'aqua-blue');

  &__description {
    color: map-get($colors, black);
    max-width: 600px;
  }

  &:not(.headline__description) {
    margin-top: 130px;
  }
}