@import 'variables';

.headline {
  font-size: map-get($sizes, 'size-6');
  font-weight: 300;
  color: map-get($colors, black);

  &__description {
    color: map-get($colors, 'aqua-blue');
    max-width: 600px;
  }

  &:not(.headline__description) {
    margin-top: 130px;
  }
}