@import 'variables';

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80%;

  &__title {
    line-height: 0.92;
    font-size: 144px;
    font-weight: bold;
    text-align: center;
  }

  &__job {
    margin-top: map-get($sizes, 'size-3');
    font-size: map-get($sizes, 'size-3');
    font-weight: bold;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 768px) {
  .hero__title {
    font-size: 86px;
  }
}

@media screen and (max-width: 576px) {
  .hero__title {
    font-size: map-get($sizes, 'size-11');
  }
}