@import 'variables';

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 85%;

  &__title {
    width: 566px;
    line-height: 0.92;
    font-size: 144px;
    font-weight: bold;
    text-align: center;
  }

  &__job {
    margin-top: map-get($sizes, 'size-3');
    font-size: map-get($sizes, 'size-3');
    font-weight: bold;
    text-transform: uppercase;
  }
}

.content {
  height: fit-content;
  margin: 0 map-get($sizes, 'size-3');
  padding: map-get($sizes, 'size-8') calc((100% - 940px) / 2);

  background-color: map-get($colors, 'white-almost');
  border-top-left-radius: map-get($sizes, 'size-6');
  border-top-right-radius: map-get($sizes, 'size-6');

  &__greeting {
    color: map-get($colors, 'black-normal');
    font-size: 36px;
    font-weight: 300;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin-bottom: map-get($sizes, 'size-4');
  margin-top: map-get($sizes, 'size-12');

  font-size: 12px;
  font-weight: 300;
  color: map-get($colors, 'black-normal');

  div:not(:first-child) {
    font-weight: 600;
  }

  a {
    color: initial;
  }
}