@import 'variables';

.hobbies {
  display: flex;
  flex-direction: row;
  margin-top: map-get($sizes, 'size-5');

  &__chart {
    position: relative;
    min-width: 220px;
    max-width: 220px;
    height: 220px;
    margin-right: map-get($sizes, 'size-3');

    .progressive-circle {
      display: block;
      margin: auto;

      &__item {
        stroke-width: map-get($sizes, 'size-4');

        &:not(:first-child):hover,
        &--active {
          stroke-width: map-get($sizes, 'size-5') !important;
        }
      }
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
  }

  &__description-title {
    font-weight: bold;
  }

  &__description-content {
    font-weight: 300;
  }
}

@media screen and (max-width: 768px) {
  .hobbies {
    flex-direction: column;

    &__chart {
      width: fit-content;
      margin-right: auto;
      margin-bottom: map-get($sizes, 'size-3');
    }
  }
}
