@import 'variables';

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 69px;
  padding: 0 map-get($sizes, 'size-9');

  background-color: inherit;
  z-index: 2;

  &__navigation {
    transition: transform .1s;
  }

  &__spacer {
    transition: all 1s ease-in-out;
  }

  &__author {
    display: none;
    transform: display 1s;

    span {
      color: map-get($colors, black);
      font-size: map-get($sizes, 'size-4');

      &:last-of-type {
        margin-left: map-get($sizes, 'size-1');
        font-weight: bold;
      }
    }
  }

  &__btn {
    display: inline-block;
    width: fit-content;
    padding: map-get($sizes, 'size-1') + map-get($sizes, 'size-1') / 2 map-get($sizes, 'size-3');

    font-size: map-get($sizes, 'size-3');
    font-weight: 500;
    border-radius: 20px;
    color: map-get($colors, black);
    background-color: map-get($colors, 'white-almost');

    text-decoration: none;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: map-get($sizes, 'size-4');
    }

    &:hover {
      color: var(--background-color) !important;
    }

    &:visited {
      color: initial;
    }
  }

  &__medium-btn {
    width: fit-content;
    font-size: map-get($sizes, 'size-3');
    font-weight: 300;
    color: map-get($colors, black);
    text-decoration: underline;
  }

  &--sticky {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    .navbar__author {
      display: block;
    }

    .navbar__spacer {
      flex-grow: 1;
    }

    & + .navbar__filler {
      position: fixed;
      top: 69px;
      right: 0;
      left: 0;
      height: map-get($sizes, 'size-6');

      margin: 0 map-get($sizes, 'size-3');
      background-color: inherit;
      z-index: 2;

      > div {
        border-top-right-radius: map-get($sizes, 'size-6');
        border-top-left-radius: map-get($sizes, 'size-6');
        width: 100%;
        height: 100%;
        background-color: map-get($colors, 'white-almost');
      }

      & + .content {
        padding-top: 133px;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .navbar {
    &__btn,
    &__medium-btn {
      font-size: map-get($sizes, 'size-2') !important;
    }

    &__btn {
      margin-right: map-get($sizes, 'size-2') !important;
    }
  }
}

@media screen and (max-width: 768px) {
  .navbar__author span {
    font-size: map-get($sizes, 'size-3') !important;
  }
}

@media screen and (max-width: 576px) {
  .navbar__filler {
    margin: 0 !important;
  }

  .navbar {
    padding: 0 map-get($sizes, 'size-6');

    &__author,
    &__spacer {
      display: none !important;
    }
  }
}

@media screen and (max-width: 455px) {
  .navbar {
    &__btn,
    &__medium-btn {
      font-size: map-get($sizes, 'size-1') + map-get($sizes, 'size-1') / 2 !important;
    }
  }
}