@import 'variables';

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: map-get($sizes, 'size-3');
  margin-top: map-get($sizes, 'size-7');

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    max-width: 100%;

    > div {
      width: 100%;
      max-width: 100%;
    }
  }

  &__item-name {
    margin-top: map-get($sizes, 'size-2');
    margin-bottom: map-get($sizes, 'size-1');
  }

  &__img-item-container {
    > img {
      max-width: inherit;
      min-width: 100%;
      height: 300px;
      max-height: 300px;
      object-fit: cover;
      cursor: pointer;
    }
  }

  &__item-edition {
    font-size: 12px;
  }

  &__item-role {
    font-size: 12px;
    font-weight: bold;
  }
}