@import 'variables';

.social {
  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: map-get($sizes, 'size-3');

    margin-top: map-get($sizes, 'size-7');
  }

  &__email-container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: map-get($sizes, 'size-8');
    height: map-get($sizes, 'size-8');
    background-color: map-get($colors, 'aqua-blue');

    img {
      width: map-get($sizes, 'size-4') !important;
      height: 23px !important;
    }
  }

  &__item {
    display: grid;
    grid-template-columns: min-content auto;
    grid-gap: map-get($sizes, 'size-3');

    img {
      width: map-get($sizes, 'size-8');
      height: map-get($sizes, 'size-8');
    }

    div {
      font-size: map-get($sizes, 'size-3');
      color: map-get($colors, 'black');
    }

    a {
      display: block;
      margin-top: map-get($sizes, 'size-1');
      color: map-get($colors, 'aqua-blue');
      font-weight: 300;
      text-decoration: underline;
    }
  }
}