$inter-font-family: 'Inter', sans-serif;

$colors: (
  black: #293132,
  aqua-blue: #83A0A0,
  yellow: #DEB841,
  orange: #FF715B,
  blue-ocean: #23B5D3,
  green-normal: #CAD178,
  green-light: #CFD2C0,
  green-lighter: #E3E7D3,
  white-almost: #F7F8F3
);

$sizes: (
  size-1: 6px,
  size-2: 12px,
  size-3: 18px,
  size-4: 24px,
  size-5: 30px,
  size-6: 36px,
  size-7: 42px,
  size-8: 48px,
  size-9: 54px,
  size-10: 60px,
  size-11: 66px,
  size-12: 72px,
  size-13: 78px,
  size-14: 84px,
  size-15: 90px,
  size-16: 96px,
);
