@import 'variables';
@import 'navbar';
@import 'testimonials';
@import 'timeline';
@import 'skills';
@import 'progressive-circle';

:root {
  --background-color: #{map-get($colors, 'blue-ocean')};
}

.navbar__btn:first-of-type {
  color: var(--background-color);
}

.navbar {
  @extend .navbar--sticky;
}

.content__about-me {
  font-weight: 300;
}