.headline {
  font-size: 36px;
  font-weight: 300;
  color: #293132; }
  .headline__description {
    color: #83A0A0;
    max-width: 600px; }
  .headline:not(.headline__description) {
    margin-top: 130px; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 24px;
  margin-top: 72px;
  font-size: 12px;
  font-weight: 300;
  text-align: center; }
  .footer div:not(:first-child) {
    font-weight: 600; }
  .footer a {
    color: initial; }

.content {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 18px;
  padding: 48px calc((100% - 940px) / 2);
  background-color: #F7F8F3;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  opacity: 0;
  -webkit-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s; }
  .content__greeting {
    font-size: 36px;
    font-weight: 300; }
  .content__name {
    text-align: left;
    font-size: 144px;
    font-weight: bold;
    line-height: 0.92; }
    .content__name:nth-child(2) {
      margin-bottom: 48px; }
  .content__about-me {
    margin-top: 18px;
    font-size: 36px;
    font-weight: 500;
    max-width: 600px; }
  .content__skills {
    display: block;
    margin-top: 18px;
    color: #83A0A0;
    font-size: 36px;
    font-weight: 300;
    text-decoration: underline;
    cursor: pointer; }

@media screen and (max-width: 1200px) {
  .content {
    padding: 48px calc((100% - 640px) / 2); } }

@media screen and (max-width: 992px) {
  .content {
    padding: 48px calc((100% - 440px) / 2); }
    .content__name {
      font-size: 90px; }
    .content__about-me {
      font-size: 24px; } }

@media screen and (max-width: 576px) {
  .content {
    margin-left: 0;
    margin-right: 0;
    padding-left: 36px;
    padding-right: 36px; }
    .content__name {
      font-size: 66px; } }

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 69px;
  padding: 0 54px;
  background-color: inherit;
  z-index: 2; }
  .navbar__navigation {
    -webkit-transition: -webkit-transform .1s;
    transition: -webkit-transform .1s;
    -o-transition: transform .1s;
    transition: transform .1s;
    transition: transform .1s, -webkit-transform .1s; }
  .navbar__spacer {
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out; }
  .navbar__author {
    display: none;
    -webkit-transform: display 1s;
        -ms-transform: display 1s;
            transform: display 1s; }
    .navbar__author span {
      color: #293132;
      font-size: 24px; }
      .navbar__author span:last-of-type {
        margin-left: 6px;
        font-weight: bold; }
  .navbar__btn {
    display: inline-block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 9px 18px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 20px;
    color: #293132;
    background-color: #F7F8F3;
    text-decoration: none;
    cursor: pointer; }
    .navbar__btn:not(:last-child) {
      margin-right: 24px; }
    .navbar__btn:hover {
      color: var(--background-color) !important; }
    .navbar__btn:visited {
      color: initial; }
  .navbar__medium-btn {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 18px;
    font-weight: 300;
    color: #293132;
    text-decoration: underline; }
  .navbar--sticky {
    position: fixed;
    top: 0;
    right: 0;
    left: 0; }
    .navbar--sticky .navbar__author {
      display: block; }
    .navbar--sticky .navbar__spacer {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1; }
    .navbar--sticky + .navbar__filler {
      position: fixed;
      top: 69px;
      right: 0;
      left: 0;
      height: 36px;
      margin: 0 18px;
      opacity: 0;
      background-color: inherit;
      -webkit-transition: opacity .5s, background-color .5s;
      -o-transition: opacity .5s, background-color .5s;
      transition: opacity .5s, background-color .5s;
      z-index: 2; }
      .navbar--sticky + .navbar__filler > div {
        border-top-right-radius: 36px;
        border-top-left-radius: 36px;
        width: 100%;
        height: 100%;
        background-color: #F7F8F3; }
      .navbar--sticky + .navbar__filler + .content {
        padding-top: 133px; }

@media screen and (max-width: 992px) {
  .navbar__btn, .navbar__medium-btn {
    font-size: 12px !important; }
  .navbar__btn {
    margin-right: 12px !important; } }

@media screen and (max-width: 768px) {
  .navbar__author span {
    font-size: 18px !important; } }

@media screen and (max-width: 576px) {
  .navbar__filler {
    margin: 0 !important; }
  .navbar {
    padding: 0 36px; }
    .navbar__author, .navbar__spacer {
      display: none !important; } }

@media screen and (max-width: 455px) {
  .navbar__btn, .navbar__medium-btn {
    font-size: 9px !important; } }

.social__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 18px;
  margin-top: 42px; }

.social__email-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 48px;
  height: 48px;
  background-color: #83A0A0; }
  .social__email-container img {
    width: 24px !important;
    height: 23px !important; }

.social__item {
  display: grid;
  grid-template-columns: -webkit-min-content auto;
  grid-template-columns: min-content auto;
  grid-gap: 18px; }
  .social__item img {
    width: 48px;
    height: 48px; }
  .social__item div {
    font-size: 18px; }
  .social__item a {
    display: block;
    margin-top: 6px;
    color: #83A0A0;
    font-weight: 300;
    text-decoration: underline; }

html {
  overflow-x: hidden; }

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  font-family: "Inter", sans-serif;
  -webkit-transition: background-color .5s;
  -o-transition: background-color .5s;
  transition: background-color .5s;
  scrollbar-color: var(--background-color) rgba(247, 248, 243, 0.8);
  scrollbar-width: thin;
  scroll-behavior: smooth; }

::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-track {
  background-color: rgba(247, 248, 243, 0.8); }

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  background-color: inherit;
  background-clip: content-box; }
