$inter-font-family: 'Inter', sans-serif;

$colors: (
  black: #293132,
  aqua-blue: #83A0A0,
  yellow: #DEB841,
  orange: #FF715B,
  blue-ocean: #23B5D3,
  green-normal: #CAD178,
  green-light: #CFD2C0,
  green-lighter: #E3E7D3,
  green-lightest: #F7F8F3
);

$sizes: (
  size-1: 8px,
  size-2: 16px,
  size-3: 24px,
  size-4: 32px,
  size-5: 40px,
  size-6: 48px,
  size-7: 56px,
  size-8: 64px,
  size-9: 72px,
  size-10: 80px
);

